:root {
    --color-neutral-800: #262626;
    --color-white: #ffffff;
    
    --color-accent: var(--color-neutral-800);
    --color-accent-content: var(--color-neutral-800);
    --color-accent-foreground: var(--color-white);
}
.dark {
    --color-accent: var(--color-white);
    --color-accent-content: var(--color-white);
    --color-accent-foreground: var(--color-neutral-800);
}

[data-flux-field]:not(ui-radio, ui-checkbox) {
    display: grid;
    gap: 0.5rem;
}
[data-flux-label] {
    margin-bottom: 0 !important;
    line-height: 1.25 !important;
}
input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    outline: 2px solid transparent;
    outline-offset: 2px;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
    --tw-ring-offset-width: 2px;
    --tw-ring-color: var(--color-accent);
    --tw-ring-offset-color: var(--color-accent-foreground);
}
